$mb: (
  50: #e0f3fb,
  100: #b3e1f5,
  200: #80ceef,
  300: #4dbae8,
  400: #26abe3,
  500: #009cde,
  600: #0094da,
  700: #008ad5,
  800: #0080d1,
  900: #006ec8,
  A100: #f1f8ff,
  A200: #bedeff,
  A400: #8bc4ff,
  A700: #71b7ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
