// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.
$mb-typography: mat.define-typography-config(
  $font-family: "Fredoka",
);
@use "_variables_theme" as mb;
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$shoppings-primary: mat.define-palette(mb.$mb);
$shoppings-accent: mat.define-palette(mb.$mb, A200, A100, A400);
// The warn palette is optional (defaults to red).
$shoppings-warn: mat.define-palette(mat.$red-palette);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$shoppings-theme: mat.define-light-theme(
  (
    color: (
      primary: $shoppings-primary,
      accent: $shoppings-accent,
      warn: $shoppings-warn,
    ),
    typography: $mb-typography,
  )
);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($shoppings-theme);

/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: none;
    border-color: #e5e7eb;
}


.scrollbar::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;

}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: mat.get-color-from-palette($shoppings-accent);
  border: .25rem solid transparent;
  border-radius: 1rem;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.05);
}